
        <% include ./partials/messages %>
        
        <h2>Contact Us</h2>
        
        <form action="/api/contact" method="POST">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input
                    type="name"
                    id="fname"
                    name="fname"
                    class="form-control"
                    placeholder="Enter Name"
                    value="<%= typeof fname != 'undefined' ? fname : '' %>"
                />
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input
                    type="name"
                    id="lname"
                    name="lname"
                    class="form-control"
                    placeholder="Enter Name"
                    value="<%= typeof lname != 'undefined' ? lname : '' %>"
                />
            </div>
            <div class="form-group">
                <label for="email">Address</label>
                <input
                    type="address"
                    id="address"
                    name="address"
                    class="form-control"
                    placeholder="Enter address"
                    value="<%= typeof address != 'undefined' ? address : '' %>"
                />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                />
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input
                    type="date"
                    id="dob"
                    name="dob"
                    class="form-control"
                    placeholder="DD/MM/YYYY"
                    value="<%= typeof dob != 'undefined' ? dob : '' %>"
                />
            </div>
            <div class="form-group">
                <label for="mobile">Mobile</label>
                <input
                    type="number"
                    id="mobile"
                    name="mobile"
                    class="form-control"
                    placeholder="Enter mobile"
                    value="<%= typeof mobile != 'undefined' ? mobile : '' %>"
                />
            </div>
            <button type="submit" >Submit</button>
        </form>